{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint-config-js-ts",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript",
		"prettier"
	],
	"parserOptions": {
		"ecmaVersion": 2018,
		"project": "./tsconfig.json"
	},
	"plugins": ["prettier"],
	"rules": {
		"@typescript-eslint/no-magic-numbers": [
			"error",
			{
				"ignoreTypeIndexes": true,
				"ignoreEnums": true,
				"ignoreNumericLiteralTypes": true,
				"ignoreReadonlyClassProperties": true
			}
		],

		"prettier/prettier": ["off", { "singleQuote": true }],
		"import/order": [
			"error",
			{
				"groups": ["builtin", "external", "parent", "sibling", "index"],
				"alphabetize": {
					"order": "asc"
				}
			}
		],
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		]
	}
}
